{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!--script src="/js/jquery-1.3.2.min.js" type="text/javascript"></script-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'App/main.css' %}">
    <script type="text/javascript" src="{% static 'App/jquery-3.5.1.js' %}"></script> 
    <script type="text/javascript" src="{% static 'App/stuquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'App/stuquery.hexmap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'App/stuquery.hexmap.css' %}">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    {% if title %}
        <title>WOM - {{ title }}</title>
    {% else %}
        <title>WOM</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'app-home' %}">WOM</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'app-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'app-home' %}">About</a>
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'app-new_game' %}">New Game</a>
                <a class="nav-item nav-link" href="{% url 'app-lobby' %}">Lobby</a>
              {% endif %}
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                <a class="nav-item nav-link" href="{% url 'account' %}">Account</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        {% if user.is_authenticated and game != None and player != None %}
        <div class="col-md-4">
          <div class="content-section">
            <h3>Sidebar</h3>
            <p class='text-muted'>Tabs
              <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a href="{% url 'app-game' g=game player=player %}">Government Budget</a> </li>
                <li class="list-group-item list-group-item-light"><a href="{% url 'map' g=game p=player l='null' lprev='null' %}">Map</a></li>
                <li class="list-group-item list-group-item-light"><a href="{% url 'app-graph' g=game p=player %}">Graphs</a></li>
                <li class="list-group-item list-group-item-light"><a href="{% url 'app-trade' g=game p=player %}">Trade</a></li>
                <li class="list-group-item list-group-item-light"><a href="{% url 'app-delete' g=game p=player %}">Delete</a></li>
              </ul>
            </p>
            
            <p class='text-muted'>Notifications
              <ul class="list-group">
                {% if notifications %}
                  {% for notification in notifications %}
                    <li class="list-group-item list-group-item-light"> {{ notification.message }} Year: {{ notification.year }}</li>
                  {% endfor %}
                {%endif%}
              </ul>
            </p>
            {% endif %}
          </div>
        </div>
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block extra_js %}{% endblock extra_js %}
    <!-- Javascript -->
</body>
</html>