{% extends "App/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="media-body">
          <h2 class="account-heading">Game Graphs</h2>
           <img class="thumbnail-img" src="{{ GoodsPerCapita.url }}">
           <img class="thumbnail-img" src="{{ Inflation.url }}">
           <img class="thumbnail-img" src="{{ Resentment.url }}">
           <img class="thumbnail-img" src="{{ Employment.url }}">
           <img class="thumbnail-img" src="{{ GoodsBalance.url }}">
           <img class="thumbnail-img" src="{{ InterestRate.url }}">
           <img class="thumbnail-img" src="{{ Consumption.url }}">
           {% include 'App/Science.html' %}
           {% include 'App/Unemployment.html' %}
    </div>
    {% include 'App/trade.html' %}
    {% include 'App/exchange.html' %}
    {% include 'App/foreign_investment.html' %}
    {% include 'App/foreign_investment_domestic.html' %}
    {% for title in titles %}
      <p class="text-secondary">{{ title }}</p>
    {% endfor %}
</div>
{% endblock content %}