{% extends "App/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <legend class="border-bottom mb-4">{{ country }}</legend>
    {% if inflation_graph %}
    <h2 class="account-heading">Projection Graphs</h2>
           <h2 class="account-heading">Graphs</h2>
           {% include budget_projections %}
        <div id="container" style="width: 75%;">
      <canvas id="goods-chart"></canvas>
        </div>
        <div id="container" style="width: 75%;">
      <canvas id="unemployment-chart"></canvas>
        </div>
        <div id="container" style="width: 75%;">
      <canvas id="gdp-chart"></canvas>
        </div>
        <div id="container" style="width: 75%;">
      <canvas id="gdp-per-chart"></canvas>
        </div>
        <div id="container" style="width: 75%;">
      <canvas id="growth-chart"></canvas>
        </div>
    {% endif %}
    <legend class="border-bottom mb-4">Individual Product Forms</legend>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <p class="text-secondary">All the subsidy values below must add to 1.</p>
            {{ PFS.management_form }}
            {% for form2 in PFS %}
                <legend class="border-bottom mb-4">{{ product_title|get_item:forloop.counter }}</legend>
                {{ form2 |crispy }}
            {% endfor %}
            <div class="media-body">
              <h2 class="account-heading">Data</h2>
               <h2 class="account-heading">Government Budget</h2>
               {% include govBudget %}
               {% include govRevenue %}
               {% include BudgetGraph %}
               <p class="text-secondary">Total Government Revenue: {{ GovMoney }}</p>
               <p class="text-secondary">Total Government Revenue as % of GDP: {{ govRevenueGDP }}</p>
               <p class="text-secondary">Government Expenditures as % of GDP: {{ govSpending }}</p>
               <p class="text-secondary">Projected Government Budget Balance as % of GDP: {{ govBalance }}</p>
               <p class="text-secondary">Net Government Savings as % of GDP: {{ GovDebt }}</p>
               <p class="text-secondary">Net Government Savings: {{ GovSavings }}</p>
               <p class="text-secondary">Current Year: {{ CurrentYear }}</p>
            </div>
            <legend class="border-bottom mb-4">Government Spending and Central Bank</legend>
            <p class="text-secondary">Welfare, Education, Military, InfrastructureInvest, and ScienceInvest are all as % of GDP.</p>
            <table>
              <tbody>
                <tr>
                  <td>{{ govForm.IncomeTax|as_crispy_field }} <td>
                  <td>{{ govForm.CorporateTax|as_crispy_field }} <td>
                  <td>{{ govForm.Welfare|as_crispy_field }} <td>
                </tr>
                <tr>
                  <td>{{ govForm.Education|as_crispy_field }} <td>
                  <td>{{ govForm.Military|as_crispy_field }} <td>
                  <td>{{ govForm.InfrastructureInvest|as_crispy_field }} <td>
                </tr>
                <tr>
                  <td>{{ govForm.ScienceInvest|as_crispy_field }} <td>
                    <td>{{ govForm.MoneyPrinting|as_crispy_field }} <td>
                      <td>{{ govForm.investment_restriction|as_crispy_field }} <td>
                </tr>
                <tr>
                  <td>{{ govForm.TheoreticalInvest|as_crispy_field }} <td>
                  <td>{{ govForm.PracticalInvest|as_crispy_field }} <td>
                  <td>{{ govForm.AppliedInvest|as_crispy_field }} <td>
                </tr>
              </tbody>
              </table>
            <p class="text-secondary">Each value is a percentage in decimal form.</p>
            <legend class="border-bottom mb-4">Ready for next turn?</legend>
            {{ readyForm |crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Submit Spending and Tax Plan</button>
        </div>
    </form>
</div>
{% endblock content %}

{% block extra_js %}

<script type="text/javascript">

  const verticalLinePlugin = {
  getLinePosition: function (chart, pointIndex) {
      const meta = chart.getDatasetMeta(0); // first dataset is used to discover X coordinate of a point
      const data = meta.data;
      return data[pointIndex]._model.x;
  },
  renderVerticalLine: function (chartInstance, pointIndex) {
      const lineLeftOffset = this.getLinePosition(chartInstance, pointIndex);
      const scale = chartInstance.scales['y-axis-0'];
      const context = chartInstance.chart.ctx;

      // render vertical line
      context.beginPath();
      context.strokeStyle = '#ff0000';
      context.moveTo(lineLeftOffset, scale.top);
      context.lineTo(lineLeftOffset, scale.bottom);
      context.stroke();

      // write label
      context.fillStyle = "#ff0000";
      context.textAlign = 'top';
      context.fillText(' Current Year', lineLeftOffset, (scale.bottom - scale.top) / 2 + scale.top);
  },

  afterDatasetsDraw: function (chart, easing) {
      if (chart.config.lineAtIndex) {
          chart.config.lineAtIndex.forEach(pointIndex => this.renderVerticalLine(chart, pointIndex));
      }
  }
  };

  Chart.plugins.register(verticalLinePlugin);

const data = {
  labels: {{ labels|safe }},
  datasets: [{
    label: 'Unemployment',
    data: {{ unemployment_graph|safe }},
    fill: false,
    borderColor: 'rgb(75, 192, 192)',
    tension: 0.1
  }]
};

var config = {
  type: 'line',
  data: data,
  options: {
        responsive: true
      },
  lineAtIndex: [{{curr_year}}],
};

const data2 = {
  labels: {{ labels|safe }},
  datasets: [{
    label: 'Inflation',
    data: {{ inflation_graph|safe }},
    fill: false,
    borderColor: 'rgb(75, 192, 192)',
    tension: 0.1
  }]
};

var goods_graph = {
  type: 'line',
  data: data2,
  options: {
        responsive: true
      },
  lineAtIndex: [{{curr_year}}],
};
const data3 = {
  labels: {{ labels|safe }},
  datasets: [{
    label: 'GoodsPerCapita',
    data: {{ gdppercapita_graph|safe }},
    fill: false,
    borderColor: 'rgb(75, 192, 192)',
    tension: 0.1
  }]
};

var gdp_graph = {
  type: 'line',
  data: data3,
  options: {
        responsive: true
      },
  lineAtIndex: [{{curr_year}}],
};

const data5 = {
  labels: {{ labels|safe }},
  datasets: [{
    label: 'GDP Per Capita',
    data: {{ gdppercapita_graph|safe }},
    fill: false,
    borderColor: 'rgb(75, 192, 192)',
    tension: 0.1
  }]
};


var growth3 = {
  type: 'line',
  data: data5,
  options: {
        responsive: true,
      },
  lineAtIndex: [{{curr_year}}],
};

const data4 = {
  labels: {{ labels|safe }},
  datasets: [{
    label: 'Consumtpion Per Capita',
    data: {{ consumptionpercapita_graph|safe }},
    fill: false,
    borderColor: 'rgb(75, 192, 192)',
    tension: 0.1
  }]
};


var growth2 = {
  type: 'line',
  data: data4,
  options: {
        responsive: true,
      },
  lineAtIndex: [{{curr_year}}],
};

window.onload = function() {
  var ctx = document.getElementById('unemployment-chart').getContext('2d');
      window.unemployment = new Chart(ctx, config);
      var ctx = document.getElementById('goods-chart').getContext('2d');
      window.goods = new Chart(ctx, goods_graph);
      var ctx = document.getElementById('gdp-chart').getContext('2d');
      window.gdp = new Chart(ctx, gdp_graph);
      var ctx = document.getElementById('gdp-per-chart').getContext('2d');
      window.growth = new Chart(ctx, growth3);
      var ctx = document.getElementById('growth-chart').getContext('2d');
      window.growth = new Chart(ctx, growth2);
    };

</script>

<!--Javascript-->

{% endblock extra_js %}