{% extends "App/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <legend class="border-bottom mb-4">{{ country }}</legend>
    {% if inflation_graph %}
    <h2 class="account-heading">Projection Graphs</h2>
           {% include inflation_graph %}
           {% include unemployment_graph %}
            {% include gdppercapita_graph %}
           {% include goodspercapita_graph %}
           {% include consumptionpercapita_graph %}
    {% endif %}
    <legend class="border-bottom mb-4">Individual Product Forms</legend>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <p class="text-secondary">All the subsidy values below must add to 1.</p>
            {{ PFS.management_form }}
            {% for form2 in PFS %}
                <legend class="border-bottom mb-4">{{ product_title|get_item:forloop.counter }}</legend>
                {{ form2 |crispy }}
            {% endfor %}
            <div class="media-body">
              <h2 class="account-heading">Data</h2>
               <h2 class="account-heading">Government Budget</h2>
               {% include govBudget %}
               {% include govRevenue %}
               {% include BudgetGraph %}
               <p class="text-secondary">Total Government Revenue: {{ GovMoney }}</p>
               <p class="text-secondary">Total Government Revenue as % of GDP: {{ govRevenueGDP }}</p>
               <p class="text-secondary">Government Expenditures as % of GDP: {{ govSpending }}</p>
               <p class="text-secondary">Projected Government Budget Balance as % of GDP: {{ govBalance }}</p>
               <p class="text-secondary">Net Government Savings as % of GDP: {{ GovDebt }}</p>
               <p class="text-secondary">Net Government Savings: {{ GovSavings }}</p>
               <p class="text-secondary">Current Year: {{ CurrentYear }}</p>
            </div>
            <legend class="border-bottom mb-4">Government Spending and Central Bank</legend>
            <p class="text-secondary">Welfare, Education, Military, InfrastructureInvest, and ScienceInvest are all as % of GDP.</p>
            <table>
              <tbody>
                <tr>
                  <td>{{ govForm.IncomeTax|as_crispy_field }} <td>
                  <td>{{ govForm.CorporateTax|as_crispy_field }} <td>
                  <td>{{ govForm.Welfare|as_crispy_field }} <td>
                </tr>
                <tr>
                  <td>{{ govForm.Education|as_crispy_field }} <td>
                  <td>{{ govForm.Military|as_crispy_field }} <td>
                  <td>{{ govForm.InfrastructureInvest|as_crispy_field }} <td>
                </tr>
                <tr>
                  <td>{{ govForm.ScienceInvest|as_crispy_field }} <td>
                    <td>{{ govForm.MoneyPrinting|as_crispy_field }} <td>
                      <td>{{ govForm.investment_restriction|as_crispy_field }} <td>
                </tr>
                <tr>
                  <td>{{ govForm.TheoreticalInvest|as_crispy_field }} <td>
                  <td>{{ govForm.PracticalInvest|as_crispy_field }} <td>
                  <td>{{ govForm.AppliedInvest|as_crispy_field }} <td>
                </tr>
              </tbody>
              </table>
            <p class="text-secondary">Each value is a percentage in decimal form.</p>
            <legend class="border-bottom mb-4">Ready for next turn?</legend>
            {{ readyForm |crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Submit Spending and Tax Plan</button>
        </div>
    </form>
</div>
{% endblock content %}