{% extends "App/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="media-body">

      <h2 class="account-heading">Budget Graphs</h2>

      <legend class="border-bottom mb-4">{{ country }}</legend>
           <canvas id={{ graphs.15 }}></canvas>
           <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Budget Graphs</legend>
                {{ GraphInterface|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" id="submit">Change Graph Mode</button>
            </div>
        </form>
          <h2 class="account-heading">Multiple Player Graphs</h2>
          <p class="text-secondary">Current Year: {{ CurrentYear }}</p>

          {% for name in graphs %}
            
          <canvas id={{ name }}></canvas>
        
          {% endfor %}

           <h2 class="account-heading">Graphs</h2>
        <div id="container" style="width: 75%;">
      <canvas id="goods-chart"></canvas>
        </div>
        <div id="container" style="width: 75%;">
      <canvas id="gdp-chart"></canvas>
        </div>
        <div id="container" style="width: 75%;">
      <canvas id="growth-chart"></canvas>
        </div>

           {% include wageGraph %}
           {% include jobGraph %}
           
           
    </div>


</div>
{% endblock content %}

{% block extra_js %}

<script type="text/javascript">

const data = {
  labels: {{ labels|safe }},
  datasets: [{
    label: 'Capital',
    data: {{ capital|safe }},
    fill: false,
    borderColor: 'rgb(75, 192, 192)',
    tension: 0.1
  }]
};

var config = {
  type: 'line',
  data: data,
  options: {
        responsive: true
      }
};

const data2 = {
  labels: {{ labels|safe }},
  datasets: [{
    label: 'Goods Production',
    data: {{ GoodsProduction|safe }},
    fill: false,
    borderColor: 'rgb(75, 192, 192)',
    tension: 0.1
  }]
};

var goods_graph = {
  type: 'line',
  data: data2,
  options: {
        responsive: true
      }
};
const data3 = {
  labels: {{ labels|safe }},
  datasets: [{
    label: 'Nominal GDP',
    data: {{ GDP|safe }},
    fill: false,
    borderColor: 'rgb(75, 192, 192)',
    tension: 0.1
  }]
};

var gdp_graph = {
  type: 'line',
  data: data3,
  options: {
        responsive: true
      }
};
const data4 = {
  labels: {{ labels|safe }},
  datasets: [{
    label: 'Real GDP Growth',
    data: {{ growth|safe }},
    fill: false,
    borderColor: 'rgb(75, 192, 192)',
    tension: 0.1
  }]
};


var growth2 = {
  type: 'line',
  data: data4,
  options: {
        responsive: true,
        plugins: {
            title: {
                display: true,
                text: 'Real GDP Growth'
            },
            legend: {
              labels: {
                size: 1
              }
            }

        },
      },
};

var graph_dict = {{graph_dict|safe}};
var graph_array = [];
var index = 0;
for (const title of graph_dict['title']) {
  var dataset = [];
  for (var i=0; i < graph_dict['line_titles'][index].length; i++) {
    const temp = {
      label: graph_dict['line_titles'][index][i],
      data: graph_dict['data'][index][i],
      fill: false,
      borderColor: graph_dict['colors'][index][i],
      tension: 0.1
    };
    dataset.push(temp);
  };
  var data5 = {
  labels: {{ labels|safe }},
  datasets: dataset
  };
  var graph = {
  type: 'line',
  data: data5,
  options: {
        responsive: true,
        title: {
            display: true,
            text: title
        },
        plugins: {
        legend: {
                labels: {
                  font: {
                        size: 11
                    }
                },
                position:'right',
              },
      },
        

    }
  };
  graph_array.push(graph);
  index += 1;
};

window.onload = function() {
      var ctx = document.getElementById('goods-chart').getContext('2d');
      window.goods = new Chart(ctx, goods_graph);
      var ctx = document.getElementById('gdp-chart').getContext('2d');
      window.gdp = new Chart(ctx, gdp_graph);
      var ctx = document.getElementById('growth-chart').getContext('2d');
      window.growth = new Chart(ctx, growth2);
      var index = 0;
      for (const graph of graph_array) {
        var ctx = document.getElementById(graph_dict['title'][index]).getContext('2d');
        window.goods = new Chart(ctx, graph);
        index += 1;
      };
    };

</script>

<!--Javascript-->

{% endblock extra_js %}