{% extends "App/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div id="message-6">Click or hover on a hex</div>
<br>
<br>
<div id="hexmap-4">
<code>
{
	"layout":"odd-r",
	"hexes": {
		{{hexmap}}
	}
}
</code>
</div>
<br>
<br>
<!-- "A":{"n":"Spain","q":0,"r":0},
		"B":{"n":"France","q":0,"r":1},
		"C":{"n":"Balearic Sea","q":1,"r":0},
		"D":{"n":"Switzerland","q":1,"r":1},
		"E":{"n":"Italy","q":2,"r":0},
		"F":{"n":"Austria","q":2,"r":1},
		"G":{"n":"UK","q":0,"r":2},
		"H":{"n":"North Sea","q":1,"r":2},
		"I":{"n":"Germany","q":2,"r":2} -->
<div class="content-section">
	<legend class="border-bottom mb-4">{{ country }} <span style="float:right;" data-toggle="tooltip" title="The map, as you can see, consists of a bunch of hexes, divided into land and sea hexes. Each hex has one resource, of which it has 1 unit, or 2 units, etc. You can see this on the resource map. Of all the other resources, it has 0.01 resource units ">ℹ️ </span></legend>
	<p class="text-secondary">Current Year: {{ CurrentYear }}</p>
	{% if resources %}
		<p class="text-secondary">Red=Iron, Yellow=Wheat, Blue=Coal, Purple=Oil</p>
	{% endif %}
	<form method="POST">
	    {% csrf_token %}
	    <fieldset class="form-group">
	        <legend class="border-bottom mb-4">Map Mode <span style="float:right;" data-toggle="tooltip" title="This is where you can change the map mode between the political and resource map.">ℹ️ </span></legend>
	        {{ map_form|crispy }}
	    </fieldset>
	    <div class="form-group">
	        <button class="btn btn-outline-info" type="submit" id="MapMode" value="MapMode">Change Map Mode</button>
	    </div>
	</form>
</div>

<div class="content-section">
	<div class="media-body">
		<p class="text-secondary">Total Military Goods Available: {{ MilitaryAm }}</p>
		<p class="text-secondary">Total Maintenance Cost Next Year: {{ maintenace }}</p>
	</div>

        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Army <span style="float:right;" data-toggle="tooltip" title="You can create armies on the Army Map page, by clicking a province, and then below specifying how big the army should be and what its name should be. In blue here, you can  see that, the orange shows you how much equipment you have. Armies can only be created in yout land hexes, fleets only in sea hexes that are adjacent to your land hexes. Fleets can only move on water, but armies can move anywhere. If however an army encounters a fleet, the fleet always wins. Fleets however fight other fleets the same way that armies fight other armies. Armies can fight other armies both on land and on the sea, the same rules apply.">ℹ️ </span> </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" id="ArmyCreate">Build Army</button>
            </div>
        </form>
    </div>

<style type="text/css">
	/* Attach styles to hover and focus events */
	#message-6 {
		position: relative;
		display: inline-block;
		left: 50%;
		transform: translate3D(-50%,0,0);
		background: black;
		color: white;
		padding: 0.25em 0.5em;
		float: left;
		z-index: 10;
	}
	.ex6 .hex {
		cursor: pointer;
	}
	.ex6 .hex:hover .hexinner, 
	.ex6 .hex:focus .hexinner {
		background: black!important;
		color: white;
	}
</style>

{% endblock content %}

{% block extra_js %}
<!--Javascript-->
<script type="text/javascript">
S(document).ready(function(){
	var info = {{info|safe}};

	var hexmap = S.hexmap('hexmap-4',{
		'formatLabel': function(id,hex){
			// "id" = unique ID of the hex
			// "hex" = object containing the properties of the specific hex
			return hex.n + "\n "+info[hex.r*{{ board_size }}+hex.q][3];
		}
	});

	hexmap.positionHexes().resize();

	hexmap.setColour(function(hex){
		// The "hex" variable contains the properties of the specific hex
		// The "this" variable references the hexmap object itself
		//var colours = [['#f7c229','#f7c229','#bb0e3b'],['#0000ff','#ffffff','#0000ff'],['#0da60f','#0da60f','#bb0e3b']]
		var colours = {{ColorMap|safe}};
		// We will choose a colour which is the sum of the q and r coordinate
		return {'background-color':info[hex.r*{{ board_size }}+hex.q][5],'color':'black'};
	});
	
	hexmap.on('mouseover',function(e){

		S('#message-6').html('👥 '+info[e.i][0]+' |💰 '+info[e.i][1]+' | 👑 '+info[e.i][2]+' | ⚔️ '+info[e.i][4]+' | 🔗 '+info[e.i][6] + ' | 🌾 '+info[e.i][7] + ' |⛏️'+info[e.i][8] + ' | 🛢️ '+info[e.i][9])

	}).on('click',function(e) {
		S('#message-6').html('You have clicked hex '+e.i+' ('+e.hex.id+')')
		url = "{% url 'app-map' g=game p=player %}";
		//var pagebutton= document.getElementById("ArmyCreate");
		//pagebutton.click();
		window.location.href = url + "/" + e.i + "/" + {{prevNum}};
	});

});

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>
{% endblock extra_js %}

