{% extends "App/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="media-body">
      <legend class="border-bottom mb-4">{{ country }}</legend>
      <h2 class="account-heading">Country Trade Graphs</h2>
      <p class="text-secondary">Graphs show the rates that are being placed on you by the countries in the legend.</p>
          {% include tarriffgraph %}
          {% include Sanctionsgraph %}
          {% include MilitaryAidgraph %}
          {% include ForeignAidgraph %}
          {% include Budgetgraph %}
           <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Budget Graphs</legend>
                {{ GraphInterface|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" id="submit">Change Graph Mode</button>
            </div>
        </form>
      <legend class="border-bottom mb-4">Tariffs</legend>
      <form method="POST">
    {% csrf_token %}
    {{ indForms.management_form }}
      {% for form in indForms %}
          <legend class="border-bottom mb-4">{{ tariff_titles|get_item:forloop.counter }}</legend>
          {{ form |crispy }}
      {% endfor %}
      <br>
      <div class="form-group">
          <button class="btn btn-outline-info" type="submit" id="Tarriff" value="Tarriff">Submit Tariff Changes</button>
      </div>
          <h2 class="account-heading">Multiple Player Graphs</h2>
          <p class="text-secondary">Current Year: {{ CurrentYear }}</p>
    </div>
  </form>
    <img class="thumbnail-img" src="{{ goodsBalance.url }}">
    {% include 'App/trade.html' %}
    {% include 'App/exchange.html' %}
    {% include 'App/foreign_investment.html' %}
    {% include 'App/foreign_investment_domestic.html' %}
    {% for title in titles %}
      <p class="text-secondary">{{ title }}</p>
    {% endfor %}
    <!-- {% for title in titles %}
      <p class="text-secondary">{{ title }}</p>
    {% endfor %} -->

</div>
{% endblock content %}