{% extends "App/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="media-body">
          <h2 class="account-heading">Graphs</h2>
           <img class="thumbnail-img" src="{{ GoodsPerCapita.url }}">
           <img class="thumbnail-img" src="{{ Inflation.url }}">
           <img class="thumbnail-img" src="{{ RealGDP.url }}">
           <img class="thumbnail-img" src="{{ Employment.url }}">
           <img class="thumbnail-img" src="{{ tradeBalance.url }}">
           <img class="thumbnail-img" src="{{ GDPPerCapita.url }}">
           <img class="thumbnail-img" src="{{ InterestRate.url }}">
           <img class="thumbnail-img" src="{{ Capital.url }}">
           <img class="thumbnail-img" src="{{ GoodsProduction.url }}">
           <img class="thumbnail-img" src="{{ GDP.url }}">
           <img class="thumbnail-img" src="{{ GDPGrowth.url }}">
    </div>

</div>
{% endblock content %}